{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "eu-de",
  "resource_tags": $TAGS,
  "name": $PREFIX,
  "existing_resource_group_name": "geretain-test-valkey",
  "existing_kms_instance_crn": $KP_DEDICATED_US_SOUTH_CRN,
  "deletion_protection": false,
  "kms_encryption_enabled": true
}
